:root {
  /* Cor da Marca */
  --color-primary: #1f57a6; /* identidade */
  --color-primary-dark: #06259a;
  --color-primary-light: #4da3d9;
--color-primary-lighter: #eaf4fc;

  /* Cores secundárias */
  --color-secondary: #2f7dbf;

  /* cores do header */
   --color-header-background: rgba(255, 255, 255, 0.8);

    /* Gradiente da página */
  --color-gradient-start: #EFF6FF;
  --color-gradient-middle:#FFFFFF;
  --color-gradient-end: #FAF5FF;

  /* Superfícies (Backgrounds) */
  --color-background: #f4f7fb;
  --color-background-alt: #ffffff;
--color-surface: #ffffff;
  /* Texto */
  --color-text-primary: #111827;
  --color-text-secondary: #4B5563;
  --color-text-disabled: #9ca3af; /* Texto desabilitado */

  /* Bordas */
 --color-border: #F3F4F6; /* Bordas sutis */
  --color-border-focus: var(--color-primary); /* Borda em foco */

  /* status colors */
  --color-success: #10b981; /* Verde */
  --color-success-light: #d1fae5; /* Verde claro */
  --color-error: #ef4444; /* Vermelho */
  --color-error-rgb: 239, 68, 68; /* Vermelho em RGB para uso em rgba() */
  --color-warning: #fdae26; /* Laranja */
  --color-warning-light: #fff7ed; /* Laranja claro */
  --color-info: #3b82f6; /* Azul claro */
  --color-info-light: #dbeafe; /* Azul claro */

  /*Box-Shadows*/
  --shadow-light: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
            0 2px 4px -2px rgba(0, 0, 0, 0.1);

  /* Fontes */
  --primary-font: "Outfit", sans-serif;
  --secondary-font: "Monda", sans-serif;
}

/* Tema escuro */
[data-theme="dark"] {
  /* Cor da Marca */
  --color-primary: #1f57a6; /* identidade */
  --color-primary-dark: #173f7a;
  --color-primary-light: #4da3d9;
  --color-primary-lighter: #8cc7eb;

  /* Cores secundárias */
  --color-secondary: #2f7dbf;

  /* cores do header */
  --color-header-background: rgba(15, 23, 42, 0.7);

      /* Gradiente da página */
  --color-gradient-start: #111827;
  --color-gradient-middle:#1F2937;
  --color-gradient-end: #374151;

  /* Superfícies (Backgrounds) */
  --color-surface: #1b2431; /* cards, inputs */
  --color-background: #1F2937; /* fundo principal */
  --color-background-alt: #1f2937; /* fundo alternativo */

  /* Texto */
  --color-text-primary: #f3f4f6; /* texto principal */
  --color-text-secondary: #9CA3AF; /* texto secundário */
  --color-text-disabled: #6b7280; /* texto desabilitado */

  /* Bordas */
  --color-border: #374151; /* bordas sutis */
  --color-border-focus: #3B82F6; /* borda em foco */

  /* status colors */
    --color-error: #7F1D1D; /* Vermelho */
  --color-error-rgb: 127, 29, 29;
  --color-error-light: #F87171; /* Vermelho em RGB para uso em rgba() */
}
