.reset-password-page {
  align-items: center;
background-image: linear-gradient(
    160deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-primary-light) 50%,
    var(--color-background) 50%
  );
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  width: 100%;
  overflow-x: hidden;
}

.reset-password-page .reset-password-card {
   background-color: var(--color-background);
  border-radius: 20px;
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  max-width: 21rem;
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.reset-password-card h1 {
  color: var(--color-text-primary);
  font-weight: 600;
  text-align: left;
  margin: 60px 15px 15px 1.2rem;
}

.reset-password-card .subtittle {
  color: var(--color-text-secondary);
  font-size: 1rem;
  text-align: left;
  margin: 10px 0 10px 1.2rem;
}

.reset-password-card .reset-password-form {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Formatando os botões */
.reset-password-card .reset-password-button {
  border-radius: 20px;
  background-color: var(--color-primary);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  color: var(--color-primary-lighter);
  font-size: 1rem;
  font-weight: 600;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: transform 0.1s ease;
  width: 18rem;
}

/* Estilizando os requisitos da senha */
.reset-password-card .requisitos-senha p {
  font-size: 0.7rem;
  width: 100%;
  text-align: start;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  color: var(--color-warning);
}

.reset-password-card .requisitos-senha {
  max-width: 18rem;
  margin: auto;
  font-size: 0.9rem;
  transition: all 0.5s ease-in-out;
}

.reset-password-card .requisitos-senha p svg {
  position: relative;
  transform: translateY(-1px);
  padding-right: 4px;
}

.reset-password-card .requisitos-senha li {
  width: 100%;
  text-align: start;
  display: inline-flex;
  gap: 5px;
  padding: 3px 0;
  align-items: center;
}

.requisitos-senha li svg {
  color: var(--color-error);
  transition: all 1s ease;
  transform: translateY(-1.5px);
}

.requisitos-senha li.valido svg {
  color: var(--color-success);
}

/* Transição da div de requisitos */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
  max-height: 0;
}

.slide-fade-enter-to,
.slide-fade-leave-from {
  max-height: 200px; /* altura aproximada da div de requisitos */
}

/* carregando... */
.reset-password-card .reset-password-button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
  padding: 11px;
}

.resete-password-card .spinner {
  animation: spin 1s linear infinite;
}