@media screen and (min-width: 1300px) and (min-height: 600px) {
  .login-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-page {
    background: var(--color-background);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
  }

  /* Card Login e Formulário */
  .login-card {
    box-shadow: none;
    min-width: 28rem;
  }

  /* início conteiner da logo */
  .login-card .logo-wrapper {
    margin: 0 auto;
    width: 100%;
    display: block;
  }

  .login-card .logo-wrapper img {
    width: 16rem;
    margin: 0;
  }

  /* fim conteiner da logo */

  .login-page .login-form {
    margin: 0 auto;
  }

  /* início Título e Subtítulo */

  .login-card .title-desktop {
    margin-left: 2.1rem;
    display: block;
    font-size: 2.2rem;
    max-width: 23.8rem;
    font-weight: 700;
  }

  .login-card .subtittle {
    font-size: 1.1rem;
    max-width: 23.8rem;
    margin: 0 0 30px 2.1rem;
  }

  /* fim Título e Subtítulo */

  /* Lembrar-me, Esqueci a senha, Criar um cadastro */
  .remember-me-wrapper {
    width: 85%;
  }

  .login-card .remember-forgot-wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
  }

  /* Lembrar-me */
  .login-page .checkbox-label:hover {
    color: var(--color-secondary);
  }

  /* esqueci minha senha */

  .login-page .forgot-password {
    width: 17rem;
    text-decoration: none;
  }

  .login-page .forgot-password:hover {
    color: var(--color-secondary);
    cursor: pointer;
  }

  /* Ainda não possui uma conta? */
  .login-page .no-account-text .register-text {
    text-decoration: none;
    font-size: 1.1rem;
  }

  .login-page .no-account-text .register-text:hover {
    color: var(--color-secondary);
    cursor: pointer;
  }

  /* Botões */
  .login-card .login-button {
    border-radius: 10px;
    width: 23.7rem;
    padding: 15px 0;
    font-size: 1.5rem;
    margin: 1.9rem 0;
    transition: all 0.3s ease-in-out;
  }

  .login-card .login-button:hover {
    background-color: var(--color-secondary);
    -webkit-box-shadow:
      0px 0px 15px var(--color-secondary),
      0 0 30px var(--color-primary-light);
    -moz-box-shadow:
      0px 0px 15px var(--color-secondary),
      0 0 30px var(--color-primary-light);
    box-shadow:
      0px 0px 15px var(--color-secondary),
      0 0 30px var(--color-primary-light);
  }

  /* Hero (imagem lateral) */
  .hero-page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .hero-page .hero-image {
    width: (100% - 20px);
    border-radius: 20px;
    margin: 20px 20px 20px 0;
    height: auto;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px;
  }

  /* Escondendo elementos */
  .title-mobile {
    display: none;
  }
}
