@media screen and (min-width: 768px) and (min-height: 600px) {
  .login-page {
    background: var(--color-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100vw;
    height: 100vh;
  }

  /* Card Login e formulário */
  .login-card .subtittle {
    max-width: 24rem;
  }

  .login-card {
    box-shadow: none;
    margin: 0;
    min-width: 26rem;
  }

  .login-card .logo-wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .login-card .logo-wrapper img {
    width: 18rem;
  }

  /* Interações de hover */
  .checkbox-label:hover {
    color: var(--color-secondary);
  }

  .login-card .forgot-password,
  .no-account-text {
    text-decoration: none;
    margin: 0;
  }

  .login-card .forgot-password:hover {
    color: var(--color-secondary);
    cursor: pointer;
    text-decoration: underline;
  }

  .login-card .no-account-text .register-text:hover {
    color: var(--color-secondary);
    cursor: pointer;
    text-decoration: underline;
  }

  .login-card .remember-forgot-wrapper {
    width: 94%;
    display: flex;
    justify-content: space-between;
  }

  /* Botões */
  .login-card .login-button {
    border-radius: 10px;
    width: 23rem;
    padding: 15px 0;
    font-size: 1.2rem;
    margin: 1.9rem 0;
    transition: all 0.3s ease-in-out;
  }

  .login-card .login-button:hover {
    background-color: var(--color-secondary);
    -webkit-box-shadow:
      0px 0px 15px var(--color-secondary),
      0 0 30px var(--color-primary-light);
    -moz-box-shadow:
      0px 0px 15px var(--color-secondary),
      0 0 30px var(--color-primary-light);
    box-shadow:
      0px 0px 15px var(--color-secondary),
      0 0 30px var(--color-primary-light);
  }

  .login-card .no-account-text,
  .login-card .no-account-text .register-text,
  .login-card .forgot-password-text {
    transition: all 0.3s ease;
    font-size: 1.1rem;
    text-decoration: none;
  }

  /* Hero (imagem lateral) */
  .hero-page {
    display: flex;
    background-color: var(--color-background);
    height: 100%;
  }

  .hero-page .hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
  }

  /* Títulos */
  .title-mobile {
    display: none;
  }

  .title-desktop {
    display: block;
  }
}
