.Toastify__toast {
    margin-top: 30px;
    border-radius: 12px !important;
    transition: all 0.3s ease !important;
    font-family: var(--primary-font);
    background-color: var(--color-background);
  }

@media screen and (max-width: 767px) {
  
  .Toastify__toast-container {
    width: calc(100% - 6rem) !important;
    left: 3rem !important;
    right: 3rem !important;
  }
}
