.Toastify__toast {
  margin-bottom: 1rem !important;
    border-radius: 8px !important;
    transition: all 0.3s ease !important;
    font-family: var(--primary-font) !important;
    background-color: var(--color-background) !important;
  }

@media screen and (max-width: 767px) {
  
  .Toastify__toast-container {
    width: 85vw!important;
    max-width: 20rem;
    transform: translateX(-50%) !important;
    left: 50% !important;
    right: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 20px !important;
  }
}
